# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/self_order?schema=public"

# NextAuth
# Generate a secret using: openssl rand -base64 32
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"

# Midtrans (Payment Gateway)
MIDTRANS_SERVER_KEY="your-midtrans-server-key"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="your-midtrans-client-key"
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION="false"
